@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.row {
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 4%;
}

body{
    background: none;
}

.main {
    width: 350px;
    /* max-height: 500px; */
    background: #FFFFFF;
}

#banner {
    width: 115%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0px;
}

#darkModeCheckBox{
  margin-top:-40%;
  margin-left: -30%;
}
a {
    padding: 0%;
    margin-top: 0%;
}

.form-range {
    width: 70%;
    text-align: center;
    padding-top: 4%;
    padding-left: 2%;
    padding-right: 2%;
}

.form-check-input{
    margin-left: 1%;
    margin-right: 3%;
    height: 22px;
    width: 22px;
}

.darkmode{
    position: relative;
    font-family: Roboto;
    font-weight: 300;
    padding-top: 13px;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

#radio1 {
    background-color: #000000;
}

#radio2 {
    background-color: #332288;
}

#radio3 {
    background-color: #785EF0;
}

#radio4 {
    background-color: #0C7BDC;
}

#radio5 {
    background-color: #56B4E9;
}

#radio6 {
    background-color: #DC267F;
}

#radio7 {
    background-color: #FE6100;
}

#radio8 {
    background-color: #FFC20A;
}

.close {
    position: absolute;
    right: 18px;
    top: 15px;
    width: 18px;
    height: 18px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 18px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }

.scaleBar {
    text-align: center;
    padding-top: 0%;
    margin-top: 0%;
}

.header{
  font-family: Roboto;
  font-weight: 500;
  text-align: center;
}

.subheader{
  font-family: Roboto;
  font-weight: 300;
  padding: 2% 0% 0% 5%; 
}

.toggleSwitch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 18px;
  margin-top: 4%;
}

.darkSwitch {
    position: absolute;
    left: 110px;
    display: inline-block;
    width: 38px;
    height: 18px;
    margin-top: 15px;
  }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  margin-top: 4%;

}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 1px;
  bottom: 2px;
  border-radius: 34px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  margin-top: 4%;

}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(22px);
}

.checkbox{
  visibility: hidden;
}

.btn{
  width: 92%;
  background-color: #3652E3;
  color: white;
  padding:3% 0% 3% 0%;
  margin: 5% 0% 0% 6%; 
  border-radius: 4px;
}

.feedback{
    padding-left: 10%;
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    font-size: 15px;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.75);
}